<!doctype html>
<html ng-app="demoApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Image-placeholder by yangjiyuan</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/github-dark.css">
    <script src="javascripts/scale.fix.js"></script>
    <script src="javascripts/angular.min.js"></script>
    <script src="javascripts/image-placeholder.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body ng-controller="demoCtrl">
    <div class="wrapper">
      <header>
        <h1>Image-placeholder</h1>
        <p>Image&#39;s placeholder.If image loading failure,placeholder image will shown in image&#39;s position.</p>
        <p class="view"><a href="https://github.com/yangjiyuan/image-placeholder">View the Project on GitHub <small>yangjiyuan/image-placeholder</small></a></p>
        <ul>
          <li><a href="https://github.com/yangjiyuan/image-placeholder/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/yangjiyuan/image-placeholder/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/yangjiyuan/image-placeholder">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
        <div class="container">
          <pre class="code">
  var options = {
    <span class="options"><label class="options-key">width:</label><input ng-change="changeOptions()" type="number" min="0" ng-model="options.width"></span>
    <span class="options"><label class="options-key">height:</label><input ng-change="changeOptions()" type="number" min="0" ng-model="options.height"></span>
    <span class="options"><label class="options-key">icon:</label><label for="iconTrue" class="icon-true"><input ng-change="changeOptions()" id="iconTrue" ng-model="options.icon" type="radio" ng-value="{{true}}" name="icon">true</label>  <label for="iconFalse" class="icon-false"><input ng-change="changeOptions()" id="iconFalse" type="radio" ng-value="{{false}}" name="icon" ng-model="options.icon">false</label></span>
    <span class="options"><label class="options-key">iconWidth:</label><input ng-change="changeOptions()" ng-disabled="!options.icon" type="number" min="0" ng-model="options.iconWidth"></span>
    <span class="options"><label class="options-key">iconHeight:</label><input ng-change="changeOptions()" ng-disabled="!options.icon" type="number" min="0" ng-model="options.iconHeight"></span>
    <span class="options"><label class="options-key">text:</label><input ng-change="changeOptions()" type="text" ng-model="options.text"></span>
    <span class="options"><label class="options-key">fontSize:</label><input ng-change="changeOptions()" type="number" min="0" ng-model="options.fontSize"></span>
    <span class="options"><label class="options-key">bgColor:</label><input ng-change="changeOptions()" type="text" ng-model="options.bgColor"></span>
    <span class="options"><label class="options-key">textColor:</label><input ng-change="changeOptions()" type="text" ng-model="options.textColor"></span>
  };
  placeholder('#image',options)
          </pre>
          <div class="image">
            <img id="image" ng-src="{{base64Data}}" alt="图片">
          </div>
        </div>
      </section>
    </div>
    <footer>
      <p>Project maintained by <a href="https://github.com/yangjiyuan">yangjiyuan</a></p>
      <p>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  <script>
  var app = angular.module('demoApp',[]);
  app.controller('demoCtrl',['$scope',function($scope){
    var options = {
      width:300,
      height:200,
      icon:true,
      iconWidth:30,
      iconHeight:20,
      text:'图片加载失败',
      fontSize:14,
      bgColor:'#ddd',
      textColor:'#fff'
    }
    $scope.options = options;
    $scope.base64Data = placeholder.getBase64Data($scope.options);
    $scope.changeOptions = function(){
      $scope.base64Data = placeholder.getBase64Data($scope.options);
    }
  }])
  </script>
  </body>
</html>
